@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

*{
    box-sizing: border-box;
}

html,body{
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    place-items: center;
    background-image: url(20996.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.centro{
    width: 300px;
    min-height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
    border-radius: 10px;
}

figure{
    width: 75%;
}

img{
    width: 100%;
}

.nome{
    font-size: 50px;
    font-family: 'Inconsolata', monospace;
}

.tipo{
    font-size: 30px;
    color: red;
    font-family: 'Inconsolata', monospace;
}

.tipo2{
    font-size: 30px;
    color: brown;
    font-family: 'Inconsolata', monospace;
}

.titulo{
    font-size: 50px;
    font-family: 'Inconsolata', monospace;
}

.rodape{
    font-size: 15px;
    font-family: 'Inconsolata', monospace;
}